<div class="exmaple-wrapper">
  <ng-template ngFor let-organisation let-organisationIndex="index" [ngForOf]="organisations">
    <mat-card [style.width.px]="600" [style.margin]="'10px 0'">
      <mat-card-header>
        <mat-card-title>{{organisation.name}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ng-template ngFor let-item let-itemIndex="index" [ngForOf]="organisation.items">
          <mat-form-field class="example-full-width">
            <input matInput [placeholder]="item.title" [value]="item.value" [(ngModel)]="item.value">
          </mat-form-field>
        </ng-template>
      </mat-card-content>
    </mat-card>
  </ng-template>

  <button mat-stroked-button color="primary">Send</button>
</div>
